.menuButtons{
	display:block;
	position: relative;
	width:10%;
	text-align:center;
	margin:auto;
}

.encoder{
	display:block;
	position:relative;
	width:30%;
	margin:5% auto;
}

.encoding{}

.user_input{}

.decoder{
	display:block;
	position:relative;
	width:35%;
	margin:5% auto;
}